{% extends "backend/auth-base.html" %}
{% load i18n static %}
{% block content %}
<div class="container-tight py-6">
    <div class="text-center mb-4">
        <img src="{% static '/brand/tabler.svg' %}" height="36" alt="">
    </div>
    <div class="card card-md">
        <div class="card-body p-6">
            <div class="card-title">{{ title }}</div>
            <p class="text-muted">
                {% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
            </p>
            <p class="text-muted">
                {% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </p>
            <a href="{% url 'account:login' %}" class="btn btn-primary w-100">{% trans 'Back to login' %}</a>
        </div>
    </div>
</div>
{% endblock %}