{% extends "backend/auth-base.html" %}
{% load i18n static %}
{% block content %}
<div class="container-tight py-6">
    <div class="text-center mb-4">
        <img src="{% static '/brand/tabler.svg' %}" height="36" alt="">
    </div>
    <form class="card card-md" action="" method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="card-title text-center mb-4">{% trans 'Forgot password' %}</div>
            <p class="text-muted mb-4">
                {% trans 'Enter your email address and your password will be reset and emailed to you.' %}</p>
            <div class="mb-3">
                <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-footer mb-2">
                <button type="submit" class="btn btn-primary w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="3" y="5" width="18" height="14" rx="2" />
                        <polyline points="3 7 12 13 21 7" /></svg>
                    {% trans 'Send Me New Password' %}
                </button>
            </div>
        </div>
    </form>
    <div class="text-center text-muted mt-3">
        {% trans 'Forget it, ' %}<a
            href="{% url 'account:login' %}">{% trans 'send me back' %}</a>{% trans ' to the sign in screen.' %}
    </div>
</div>
{% endblock %}