{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% block content %}   
<div class="row row-cards">
    <div class="col-12">
        <form class="form-horizontal" method="post">
        <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ form_name|default:'Form'|title}}</h4>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
        <div class="card-footer text-end">
            <div class="d-flex">
                <a href="{% url 'project:project' %}" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-primary ms-auto">Submit</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock content %}